html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  text-decoration: none;
 -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.moving-left {
  white-space: nowrap;
  position: absolute;
  top: 10px;
}

.moving-left {
  -webkit-animation: mymove 18s linear infinite; /* Safari 4.0 - 8.0 */
  white-space: nowrap;
  /* animation: mymove 5s linear infinite alternate; */
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {
    left: 0;
  }
  to {
    left: -400px;
  }
}

@keyframes mymove {
  from {
    left: 0;
  }
  to {
    left: -400px;
  }
}


div {
  float:left;
  position: relative;
}


/* 바디 부분 */

.box1{
  overflow: hidden;
  width: 72%;
  height: 88%;
  left: 14%;
  top: 5%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'EB Garamond', italic, 'Noto Serif TC';
  font-size: 22px;
}

.box2, .box3 {
  left: 6%;
  width: 82%;
  padding: 0% 3% 0% 3%;
  overflow: scroll;
  background: #FFFFFF;
  font-family: 'Spectral', serif;
}

.box2 {
  height: 35vh;
  font-size: 18px;
  margin-top: 10vh;
  z-index: 3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box3 {
  height: 37vh;
  font-size: 16px;
  z-index: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
}

/* text style*/
#arrow {
  position: absolute;
  top: 45vh;
  right: 4.5vw;
  font-size: 5vh;
  font-weight: lighter;
  z-index: 99;
  border: 0;
  outline: 0;
  background: 0;
  font-family:  'EB Garamond', italic;
  animation: rotate_image 30s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}

#arrow:hover {
  cursor:crosshair;
  color: #C7F16F;
}

img {
  margin: 1%;
}
.head-img {
  margin: 4%;
  float: left;
  clear: both;
}

.underline {
  text-decoration: underline;
}

.underline:hover {
  cursor:crosshair;
  color: #F2F2F2;
}

.head,.headline {
  font-family: 'EB Garamond', italic;
  font-size: 24px;
  font-style: italic;
}

.headline:hover {
  cursor:crosshair;
  color: #C7F16F;
}


.small-text {
  font-family: 'Spectral', 'Noto Serif TC', serif;
  font-size: 11px;
  line-height: 1.8;
}



/* mobile */

@media (max-width: 600px) {

  body {line-height: 1.4;}

  .moving-left {top:-1px;}

  .box1{
    overflow: hidden;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 4%;
    font-size: 18px;
  }

  .box2, .box3 {
    left: 5%;
    width: 86%;
    padding: 0% 2% 0% 2%;
    overflow: scroll;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 14px;
  }

  #arrow {
    right: 3vw;
  font-size: 6vh;}

    .head-img {
      margin: 2%;
      float: none;
    }

    .head,.headline {
      font-size: 18px;
    }

    .small-text {
      font-size: 9px;
    }

  button {
    font-size: 10px;
  }

  img {
    min-width: 110px;
  }

  #main-img {
    min-width: 200px;
  }

}
